/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* .debug {
  border: 1px solid black;
} */
ul {
  list-style: none;
}
:root {
  --primary-color: #23272a;
  --secondary-color: white;
  --header-bg: #255ee9;
  --bg-color: #f6f6f6;
  --addictional: #7289da;
}
.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-items: center;
  justify-content: center;
}
.sp-between {
  justify-content: space-between;
}
.row-reverse {
  flex-direction: row-reverse;
  align-items: flex-start;
}
.nostretch {
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
a:hover {
  text-decoration: underline;
}
/* Header */
nav {
  background-color: var(--header-bg);
  padding-top: 10px;
  color: var(--secondary-color);
}
#jumbo {
  background-image: url(../img/jumbo.png);
  min-height: 650px;
  min-width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 3em;
  line-height: 2.5em;
}
li {
  padding: 15px;
}
/* Buttons */
.button {
  padding: 8px 14px 8px 14px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
}
.white {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.black {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.purple {
  background-color: var(--addictional);
  color: var(--secondary-color);
}
/* Main */
section {
  padding: 50px 0 50px 0;
  margin-top: 50px;
}
h2 {
  font-size: 2.5em;
  padding-bottom: 10px;
}
p {
  line-height: 1.5em;
  font-weight: 500;
}
.side-img {
  width: 50%;
  max-height: 400px;
}
.side-sect {
  max-width: 400px;
  width: 50%;
  padding-top: 20px;
}
.side-sect-left {
  max-width: 400px;
  width: 50%;
  padding-top: 20px;
}
/* Footer */
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.foot-bot {
}
