/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}
/* .debug {
  border: 1px solid black;
} */
ul {
  list-style: none;
  font-size: large;
}
:root {
  --primary-color: #23272a;
  --secondary-color: white;
  --header-bg: #255ee9;
  --bg-color: #f6f6f6;
  --addictional: #7289da;
}
.flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.flex-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 40px 5px;
  line-height: 2.3em;
}
.reverse {
  order: -1;
}
.center {
  justify-content: center;
  flex-flow: column wrap;
  line-height: 2em;
}

a {
  display: inline-block;
  padding: 10px 10px;
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.button {
  border-radius: 30px;
  padding: 8px 16px;
  font-weight: 600;
}
/* Header */
nav {
  color: var(--secondary-color);
  background-color: var(--header-bg);
  padding: 30px;
}
#jumbo {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  max-width: 700px;
  line-height: 1.7em;
  min-width: 350px;
  min-height: 650px;
  font-size: 20px;
  text-align: center;
  color: var(--secondary-color);
}
h1 {
  font-size: 40px;
  padding: 30px 0;
}

/* Main */
article {
  text-align: left;
  color: var(--primary-color);
  margin: 30px;
  line-height: 1.6em;
}
h2 {
  font-size: 52px;
  line-height: 1em;
  padding-bottom: 25px;
}
p {
  font-size: 20px;
  line-height: 1.4em;
}
h3 {
  font-size: 35px;
}
.even {
  background-color: var(--bg-color);
}
.pad {
  padding: 150px;
}
.wave {
  background-image: url(../img/wave.svg);
  background-size: contain;
  width: 100%;
  opacity: 0.03;
  display: block;
}
/* Footer */
footer {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.last-footer {
  border-top: 2px solid var(--addictional);
}
.color {
  color: var(--addictional);
}
